* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Header {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-family: Franklin Gothic Condensed, sans-serif;
  font-weight: 600;
}

.Header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 2em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header a {
  text-decoration: none;
}

.Header .menu {
  list-style-type: none;
}

.Header .item {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  width: auto;
  padding: 10px;
}

.Header .item a {
  text-decoration: none;
  color: #1d2b39;
  cursor: pointer;
}

.Header .item .active {
  -webkit-box-shadow: 0 3px 0 0 #fbce0a;
          box-shadow: 0 3px 0 0 #fbce0a;
}

.Header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 40%;
  margin: 0 10%;
}

.Header .menu li a {
  padding: 15px 5px;
}

.Header .menu li.subitem a {
  padding: 15px;
}

.Header .active .item {
  display: block;
}

.Header .submenu-active .submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 64px;
  background: #111;
}

.grid-container {
  width: 100%;
  padding: 30px 60px;
}

.grid-container .navigation-panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 34.4em 1fr;
      grid-template-columns: auto 34.4em 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.grid-container .categories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.grid-container .categories .column {
  width: 9em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}

.grid-container .categories .column h4 {
  color: black;
  letter-spacing: 0;
  margin-bottom: 10px;
}

.grid-container .categories .column h4 a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}

.grid-container .categories .column ul {
  list-style: none;
}

.grid-container .categories .column ul li a.link {
  font-size: 13px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  font-family: Franklin Gothic Condensed, sans-serif;
}

.grid-container .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 21.4em;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.grid-container .features .feature-column {
  width: calc(50% - 1.4em);
  margin-left: 1.4em;
  margin-top: 0.6em;
}

.grid-container .features .feature-column .tile {
  margin-bottom: 0.3em;
  display: block !important;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.grid-container .features .feature-column .tile span.image {
  display: block;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 8.1em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0;
     object-position: 50% 0;
}
/*# sourceMappingURL=Header.css.map */